### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
RocketHub/RocketHub.xcodeproj/project.xcworkspace/xcuserdata/varun.xcuserdatad/UserInterfaceState.xcuserstate
RocketHub/RocketHub.xcodeproj/xcuserdata/varun.xcuserdatad/xcschemes/xcschememanagement.plist
RocketHub/RocketHub.xcodeproj/project.xcworkspace/xcuserdata/varun.xcuserdatad/UserInterfaceState.xcuserstate
RocketHub/BuildTools/.build
RocketHub/BuildTools/.swiftpm
